*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    background: #fef7e8;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.container
{
    display: flex;
    justify-content: center; /*poziom*/
    align-items: center; /*pion*/
}

h1
{
    font-weight: 800;
    font-size: 48px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
}


p
{
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 6px;
}

a
{
    text-decoration: none;
}

i
{
    padding: 6px;
    color: #009688;
}

.bg_img_kolo
{
    width: 20cm;
    height: 20cm;
    position: absolute;
    right: 70%;
    bottom: -400px;
   
}

.bg_img_kolo2
{
    width: 30cm;
    height: 30cm;
    position: absolute;
    left: 75%;
    top: -150px;
}
.img_tree
{
    width: 350px;
    height: auto;
    position: absolute;
    bottom: 60px;
    right: 75%;
}
.arrow-back
{
    position: fixed;
    width: 30px;
    height: 30px;
    font-size: 25px;
    margin-top: 30px;
    left: 40px;
}

.arrow-back a
{
    color: black;
}

.arrow-back a:hover
{
    color:#009688;
}